/* Container styling for overall alignment and spacing */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px;
    background-color: #f0f4f8;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-height: 90vh; /* Set the maximum height to be 90% of the viewport */
    overflow-y: auto; /* Enable vertical scrolling */
}

/* Heading styling */
.heading {
    font-size: 2.5em;
    font-weight: bold;
    color: #333;
    margin-bottom: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

/* Styling each pair container */
.pairContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    width: 100%;
    max-width: 600px;
}

/* Audio player styling */
audio {
    margin-bottom: 15px;
    width: 80%;
}

/* Buttons container styling for alignment */
.buttonsContainer {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 400px;
}

/* General button styling */
.button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    box-shadow: 0 4px 8px rgba(0, 123, 255, 0.2);
}

.button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

/* Yes button specific styling */
.button:nth-child(1) {
    background-color: #28a745;
}

.button:nth-child(1):hover {
    background-color: #218838;
}

/* No button specific styling */
.button:nth-child(2) {
    background-color: #dc3545;
}

.button:nth-child(2):hover {
    background-color: #c82333;
}

/* Score container styling */
.scoreContainer {
    margin-top: 30px;
    font-size: 1.5em;
    color: #555;
    text-align: center;
}

/* Submit container styling */
.submitContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

/* Submit button styling */
.submitButton {
    background-color: #05cb05;
    color: white;
    border: none;
    font-weight: bold;
    padding: 12px 25px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    box-shadow: 0 4px 8px rgba(0, 123, 255, 0.2);
}

.submitButton:hover {
    background-color: #428801;
    transform: translateY(-2px);
}
